/*Resize icons*/
.icon-img {
  height: 50px;
}

.kairos-icon {
  margin-bottom: -10px;
}

.account-label-container {
  margin-bottom: -17px;
}

.account-label-header {
  width: 50%;
  margin: 0 auto;
}

.no-button-style {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  overflow: hidden;
  cursor: pointer;
  outline:none;
}
