/*Resize icons*/
.icon-img {
  height: 50px;
}

.kairos-icon {
  margin-bottom: -10px;
}

.account-label-container {
  margin-bottom: -17px;
}

.account-label-header {
  width: 50%;
  margin: 0 auto;
}

.copyable {
  cursor: pointer;
}

.btkgreen {
  color: #1fdaa6;
}

.scroll {
  overflow: auto;
  height: 135pt;
}

.large-tab {
  overflow: auto;
  height: 92%;
}